<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap" rel="stylesheet">
    <title>Component</title>
</head>
<body>
    <div class="containerMain">
     <div class="container">
        <div class="containerCard">
            <div class="card">
                <div class="containerImage">
                    <img src="/img/cr7.jpg" alt="CR7" class="image">
                </div>
                <div class="information">
                    <div class="name">
                        <p>Cristiano Ronaldo</p>
                    </div>
                    <div class="address">
                        <p>Portugal</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="containerImage">
                    <img src="/img/morgan.jpg" alt="CR7" class="image">
                </div>
                <div class="information">
                    <div class="name">
                        <p>Alex Morgan</p>
                    </div>
                    <div class="address">
                        <p>Estados Unidos</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="containerImage">
                    <img src="/img/modric.jpg" alt="CR7" class="image">
                </div>
                <div class="information">
                    <div class="name">
                        <p>Luka Modric</p>
                    </div>
                    <div class="address">
                        <p>Croacia</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="containerImage">
                    <img src="/img/martha.jpg" alt="CR7" class="image">
                </div>
                <div class="information">
                    <div class="name">
                        <p>Martha</p>
                    </div>
                    <div class="address">
                        <p>Brasil</p>
                    </div>
                </div>
            </div>
            
        </div>
     </div>
       
    </div>
</body>
</html>